@import './base.css';

.overlay-z1 { 
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
}

.overlay-z2 { 
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; 
  opacity: 0.5;
}

.overlay-z3 { 
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3; 
  background-color: rgba(23, 65, 112, 0.35);
  opacity: 1;
}

.overlay-z3.overlay-z3-12 {
  transition-property: background-color, opacity;
  transition-duration: 10s;
  opacity: .12;
}

.overlay-z3.overlay-z3-25 {
  transition-property: background-color, opacity;
  transition-duration: 10s;
  opacity: .25;
}

.overlay-50 {
  background: rgba(0, 0, 0, 0.5);
}

.overlay-5 {
  background: rgba(200, 0, 0, 0.25);
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;

  /* prevent bg overlay from affecting main app content */
  position: relative;
  z-index: 10;
}

a,
.blue {
  text-decoration: none;
  color: hsl(208, 75%, 59%);
  transition: 0.4s;
  padding: 3px;
}
.blue-dimmed {
  color: hsla(208, 75%, 59%,70%);
}
/* span specified bg color class overrides basic class background-color */
span.blue-dimmed-bg {
  background-color: hsla(208, 75%, 59%,80%);
}
.over-bg-shadow {
  text-shadow: 0 0.05em 0.5em #000000;
}
.over-bg-area-shadow {
  background-color: rgba(0,0,0,0.15);
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.15);
}
.over-bg-area-shadow-light {
  background-color: rgba(0,0,0,0.08);
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.08);
}
.download-icon {
  /* Set dimensions */
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: baseline;
  
  /* Set the desired color */
  background-color: hsl(208, 75%, 80%); 
  
  /* Apply the image as a mask */
  -webkit-mask-image: url('/assets/icon-download.png');
  mask-image: url('/assets/icon-download.png');
  
  /* Ensure the mask covers the element */
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.major-slash {
  font-weight: bolder;
  font-size: 150%;
  line-height: 0.1;
  position: relative;
  top: 0.08em;
}

.minor-slash {
  font-weight: bolder;
  font-size: 200%;
  line-height: 0.1;
  position: relative;
  opacity: 0.5;
  top: 0.2em;
}
.centered-div {
    display: flex;
    justify-content: center;
}
.big-heading {
    background: rgba(0,0,0,0.25);
    box-shadow: 0 0 1em .6em rgba(0,0,0,0.25);
    border-radius: 0.7em;
    padding: 0.25em;
}
.instructions {
    text-align: center;
    margin: 0.5em 0;
    font-size: 12pt;
    position: relative;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

header .wrapper {
  /*background-color: rgba(100,100,100,0.5);
  border-radius: 1em;
  box-shadow: 0 0 1em 2em rgba(100,100,100,0.5);*/
}

nav a.router-link-exact-active {
  color: var(--color-text);
  background-color: rgba(0,0,0,0.05);
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.05);
  border: 0 solid transparent;
}

nav a.router-link-exact-active:hover {
  background-color: rgba(255,255,255,0.0);
  box-shadow: 0 0 1em 0.5em rgba(255,255,255,0.0);
  border: 0 solid transparent;
}

a.active-border, nav a {
  display: inline-block;
  padding: .5em 1em;
  border-radius: 0.5em;
  font-weight: bolder;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: -0.01em 0.01em 0.45em rgb(0 0 0);
  background-color: rgba(0,0,0,0.15);
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.15);
  border: 0 solid transparent;
}

a.active-border:hover, nav a:hover {
  background-color: rgba(230,230,230,0.15);
  box-shadow: 0 0 1em 0.5em rgba(230,230,230,0.15);
  border: 0.15em dashed white;
}

nav a:last-of-type {
  
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(208, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* prevent bg overlay from affecting main app content */
    position: relative;
    z-index: 10;
    /* grid layout for large display */
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0 2rem;
    
  }
}
