@import './base.css';

.overlay-z1 { 
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
}

.overlay-z2 { 
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; 
  opacity: 0.5;
}

.overlay-z3 { 
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3; 
  background-color: rgba(0,0,0,0.75);
  opacity: 1;
}

.overlay-z3.overlay-z3-12 {
  transition-property: background-color, opacity;
  transition-duration: 10s;
  opacity: .12;
}

.overlay-z3.overlay-z3-25 {
  transition-property: background-color, opacity;
  transition-duration: 10s;
  opacity: .25;
}

.overlay-50 {
  background: rgba(0, 0, 0, 0.5);
}

.overlay-5 {
  background: rgba(200, 0, 0, 0.25);
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;

  /* prevent bg overlay from affecting main app content */
  position: relative;
  z-index: 10;
}

a,
.blue {
  text-decoration: none;
  color: hsl(208, 75%, 59%);
  transition: 0.4s;
  padding: 3px;
}
.main-color {
  color: green;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(208, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* prevent bg overlay from affecting main app content */
    position: relative;
    z-index: 10;
    /* grid layout for large display */
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0 2rem;
    
  }
}
