@import './base.css';

.overlay-z1 { 
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
}

.overlay-z2 { 
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; 
  opacity: 0.5;
}

.overlay-z3 { 
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3; 
  background-color: rgba(23, 65, 112, 0.35);
  opacity: 1;
}
.overlay-z1.hide, .overlay-z2.hide, .overlay-z3.hide
{
  display: none;
}

.overlay-z3.overlay-z3-12 {
  transition-property: background-color, opacity;
  transition-duration: 10s;
  opacity: .12;
}

.overlay-z3.overlay-z3-25 {
  transition-property: background-color, opacity;
  transition-duration: 10s;
  opacity: .25;
}

.overlay-50 {
  background: rgba(0, 0, 0, 0.5);
}

.overlay-5 {
  background: rgba(200, 0, 0, 0.25);
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;

  /* prevent bg overlay from affecting main app content */
  position: relative;
  z-index: 10;
}

a,
.blue {
  text-decoration: none;
  color: hsl(208, 75%, 59%);
  transition: 0.4s;
  padding: 3px;
}
.blue-dimmed {
  color: hsla(208, 75%, 59%,70%);
}
.dark-text {
  color: #555555;
}
.text-faint {
  opacity: 85%;
}
/* span specified bg color class overrides basic class background-color */
span.blue-dimmed-bg {
  background-color: hsla(208, 75%, 59%,80%);
}
.over-bg-shadow {
  text-shadow: 0 0.05em 0.5em #000000;
}
.over-bg-area-shadow-dark {
  background-color: rgba(0,0,0,0.35);
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.35);
}
.over-bg-area-shadow {
  background-color: rgba(0,0,0,0.15);
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.15);
}
.over-bg-area-shadow-light {
  background-color: rgba(0,0,0,0.08);
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.08);
}
.download-icon {
  /* Set dimensions */
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: baseline;
  
  /* Set the desired color */
  background-color: hsl(208, 75%, 80%); 
  
  /* Apply the image as a mask */
  -webkit-mask-image: url('/assets/icon-download.png');
  mask-image: url('/assets/icon-download.png');
  
  /* Ensure the mask covers the element */
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.major-slash {
  font-weight: bolder;
  font-size: 150%;
  line-height: 0.1;
  position: relative;
  top: 0.08em;
}

.minor-slash {
  font-weight: bolder;
  font-size: 200%;
  line-height: 0.1;
  position: relative;
  opacity: 0.5;
  top: 0.2em;
}
.centered-div {
    display: flex;
    justify-content: center;
    gap: 0.15em;
}
.big-heading {
    background: rgba(0,0,0,0.25);
    box-shadow: 0 0 1em .6em rgba(0,0,0,0.25);
    border-radius: 0.7em;
    padding: 0.25em;
}
.twist-cont {
  font-size: 9pt;
  position: relative;
  width: 1.5em;
  border-radius: 0.75em;
  font-weight: bolder;
  transition-property: transform, background-color, box-shadow;
  transition-duration: 1.25s;
  transition-timing-function: ease;
  background-color: rgba(200,210,255,0.1);
  box-shadow: 0 0 1em 0.5em rgba(200,210,255,0.1);
}
.twist-cont:hover {
  background-color: rgba(200,210,255,0.25);
  box-shadow: 0 0 1em 0.5em rgba(200,210,255,0.25);
}

.twist-cont.set-a {
  transform: rotate(0deg);

  background-color: rgba(255, 247, 175, 0.1);
  box-shadow: 0 0 .75em 0.25em rgba(255, 247, 175,0.1);
}
.twist-cont.set-a:hover {
  background-color: rgba(255, 247, 175,0.3);
  box-shadow: 0 0 .75em 0.25em rgba(255, 247, 175,0.3);
}
.twist-cont.set-a.on {
  transform: rotate(90deg);

  background-color: rgba(255, 247, 175,0.25);
  box-shadow: 0 0 .75em 0.25em rgba(255, 247, 175,0.25);
}
.twist-cont.set-a.on:hover {
  background-color: rgba(175,190,255,0.2);
  box-shadow: 0 0 .75em 0.25em rgba(175,190,255,0.2);
}


.twist-cont.set-b {
  transform: rotate(0deg);

  background-color: rgba(255, 175, 192, 0.1);
  box-shadow: 0 0 .75em 0.25em rgba(255, 175, 192,0.1);
}
.twist-cont.set-b:hover {
  background-color: rgba(255, 175, 192,0.3);
  box-shadow: 0 0 .75em 0.25em rgba(255, 175, 192,0.3);
}
.twist-cont.set-b.on {
  transform: rotate(-90deg);

  background-color: rgba(255, 175, 192, 0.25);
  box-shadow: 0 0 .75em 0.25em rgba(255, 175, 192,0.25);
}
.twist-cont.set-b.on:hover {
  background-color: rgba(255, 175, 192,0.2);
  box-shadow: 0 0 .75em 0.25em rgba(255, 175, 192,0.25);
}

.twist-cont.set-c {
  transform: rotate(-115deg);

  background-color: rgba(146, 255, 146, 0.1);
  box-shadow: 0 0 .75em 0.25em rgba(146, 255, 146,0.1);
}
.twist-cont.set-c:hover {
  background-color: rgba(146, 255, 146,0.35);
  box-shadow: 0 0 .75em 0.25em rgba(146, 255, 146,0.35);
}
.twist-cont.set-c.on {
  transform: rotate(-25deg);

  background-color: rgba(146, 255, 146, 0.3);
  box-shadow: 0 0 .75em 0.25em rgba(146, 255, 146,0.3);
}
.twist-cont.set-c.on:hover {
  background-color: rgba(146, 255, 146,0.25);
  box-shadow: 0 0 .75em 0.25em rgba(146, 255, 146,0.3);
}
.twist-cont.set-c.on.on-extra {
  transform: rotate(-205deg);

  background-color: rgba(118, 252, 230, 0.35);
  box-shadow: 0 0 .75em 0.25em rgba(118, 232, 252,0.35);
}
.twist-cont.set-c.on.on-extra:hover {
  background-color: rgba(118, 232, 252,0.3);
  box-shadow: 0 0 .75em 0.25em rgba(118, 232, 252,0.3);
}
.twist-cont.clicked {
  background-color: rgba(200,210,255,0.35);
  box-shadow: 0 0 1em 0.5em rgba(200,210,255,0.35);
  
  transition-duration: 1s;
}
.twist-cont.clicked:hover {
  background-color: rgba(200,210,255,0.3);
  box-shadow: 0 0 1em 0.5em rgba(200,210,255,0.35);
}


/* twist buttons on section corners */

.twist-cont.force-block {
  display: flex;
  flex-direction: row;
  width: 1em;
  height: 1em;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
  line-height: .1;
  position: relative;
  
}

.twist-cont.set-d .twist-slash {
  line-height: .1;
  font-size: 12pt;
  top: -0.06em;
}

 
.twist-cont.set-d {
  border: 0.1em solid rgba(210, 186, 255,0.1);
  transform: rotate(90deg);

  background-color: rgba(255, 247, 175, 0.438);
  box-shadow: 0 0 1em 0.15em rgba(255, 247, 175, 0.438);
  /* background-color: rgba(210, 186, 255, 0.6);
  box-shadow: 0 0 1em 0.5em rgba(210, 186, 255,0.6); */
}
.twist-cont.set-d.reverse-motion {
  transform: rotate(0deg);
}
.twist-cont.set-d.set-d-left {
  transform: rotate(-90deg);
  background-color: rgba(255, 175, 192, 0.438);
  box-shadow: 0 0 1em 0.15em rgba(255, 175, 192, 0.438);
}
.twist-cont.set-d.reverse-motion.set-d-left {
  transform: rotate(0deg);
}
.twist-cont.set-d > .twist-slash {
  
}
.twist-cont.set-d:hover {
  background-color: rgba(72, 156, 229, 0.7);
  box-shadow: 0 0 1em 0.25em rgba(72, 156, 229,0.7);
}
.twist-cont.set-d.on {
  transform: rotate(0deg);

  background-color: rgba(72, 156, 229,0.7);
  box-shadow: 0 0 1em 0.15em rgba(72, 156, 229,0.7);
}
.twist-cont.set-d.reverse-motion.on {
  transform: rotate(90deg);
}
.twist-cont.set-d.reverse-motion.on.set-d-left {
  transform: rotate(-90deg);
}
.twist-cont.set-d.on:hover {
  background-color: rgba(72, 156, 229,0.8);
  box-shadow: 0 0 1em 0.25em rgba(72, 156, 229,0.8);
}


.twist-slash {
  font-weight: bolder;
  font-size: 150%;
  line-height: 0.1;
  position: relative;
  top: 0.17em;
  cursor: pointer;
}
.instructions {
    text-align: center;
    margin: 0.5em 0;
    font-size: 10pt;
    position: relative;
}
.controls-row {
  text-align: center;
  margin: 0.5em 0;
  font-size: 10pt;
  position: relative;
}
.controls-row.alone {
  margin: 1.5em 0 0.5em 0;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

header .wrapper {
  /*background-color: rgba(100,100,100,0.5);
  border-radius: 1em;
  box-shadow: 0 0 1em 2em rgba(100,100,100,0.5);*/
}

nav a.router-link-exact-active {
  color: var(--color-text);
  background-color: rgba(0,0,0,0.05);
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.05);
  border: 0 solid transparent;
}

nav a.router-link-exact-active:hover {
  background-color: rgba(255,255,255,0.0);
  box-shadow: 0 0 1em 0.5em rgba(255,255,255,0.0);
  border: 0 solid transparent;
}

a.active-border, nav a {
  display: inline-block;
  padding: .5em 1em;
  border-radius: 0.5em;
  font-weight: bolder;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: -0.01em 0.01em 0.45em rgb(0 0 0);
  background-color: rgba(0,0,0,0.15);
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.15);
  border: 0 solid transparent;
}

a.active-border:hover, nav a:hover {
  background-color: rgba(230,230,230,0.15);
  box-shadow: 0 0 1em 0.5em rgba(230,230,230,0.15);
  border: 0.15em dashed white;
}

nav a:last-of-type {
  
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(208, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* prevent bg overlay from affecting main app content */
    position: relative;
    z-index: 10;
    /* grid layout for large display */
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0 2rem;
    
  }
}
