/* haze */
.bg-dark-01 {
    background-image: url('/assets/art/wavy-haze-verydark.jpg');
}
/* monoliths and light with electric currents */
.bg-dark-02 {
    background-image: url('/assets/art/stochast/image-vAE8r.jpg');
}

/* energy wave front in space */
.bg-dark-03 {
    background-image: url('/assets/art/stochast/image-i4u5hxybtk7g0vob36fsviqnn.jpg');
}
/* album cover */
.bg-dark-04 {
    background-image: url('/assets/art/stochast/cover-art-stochastic-recovery-20x6-album.jpg');
}
/* haze */
.bg-dark-05 {
    background-image: url('/assets/art/wavy-haze-verydark.jpg');
}

/* base energy chasms */
.bg-dark-06 {
    background-image: url('/assets/art/stochast/image-bg-cosmic-chasm-02.jpg');
}
.bg-dark-07 {
    background-image: url('/assets/art/stochast/image-bg-cosmic-chasm-03.jpg');
}
.bg-dark-08 {
    background-image: url('/assets/art/stochast/image-bg-cosmic-chasm-07.jpg');
}
.bg-dark-09 {
    background-image: url('/assets/art/stochast/image-bg-cosmic-chasm-01.jpg');
}
.bg-dark-10 {
    background-image: url('/assets/art/stochast/image-bg-cosmic-chasm-05.jpg');
}
.bg-dark-11 {
    background-image: url('/assets/art/stochast/image-bg-cosmic-chasm-08.jpg');
}
.bg-dark-12 {
    background-image: url('/assets/art/stochast/image-bg-cosmic-chasm-04.jpg');
}


/* lava set */
.bg-dark-13 {
    background-image: url('/assets/art/stochast/image-e1ovn41unr5c5pal3410r6cif.jpg');
}
.bg-dark-14 {
    background-image: url('/assets/art/stochast/image-j900r29yhc9aac5yut1uui03o.jpg');
}

/* irregular plamsa flow chasms */
.bg-dark-15 {
    background-image: url('/assets/art/stochast/image-3ijp4d9f0ia96j5rjjeaspmu6.jpg');
}
.bg-dark-16 {
    background-image: url('/assets/art/stochast/image-nxqzngt7aqw0ngy8ry7lzqjzy.jpg');
}
.bg-dark-17 {
    background-image: url('/assets/art/stochast/image-0jbxjc5nzrh0rfxrisy1fvhch.jpg');
}
.bg-dark-18 {
    background-image: url('/assets/art/stochast/image-q8hmm6uzr0ll10wshv3jtlycg.jpg');
}
.bg-dark-19 {
    background-image: url('/assets/art/stochast/image-akjl93i1i8foz2pkyoipkvu3s.jpg');
}
.bg-dark-20 {
    background-image: url('/assets/art/stochast/image-jvtzt5hubnfc3ua1ejt12mh7k.jpg');
}
.bg-dark-21 {
    background-image: url('/assets/art/stochast/image-tvy6t9gmbe03lwah2p51vj8ip.jpg');
}
.bg-dark-22 {
    background-image: url('/assets/art/stochast/image-3ijp4d9f0ia96j5rjjeaspmu6.jpg');
}
.bg-dark-23 {
    background-image: url('/assets/art/stochast/image-n8qq0pv8k08vem880s5y5hd59.jpg');
}
.bg-dark-24 {
    background-image: url('/assets/art/stochast/image-n8qq0pv8k08vem880s5y5hd59.jpg');
}

/* round chasm plasma - constellations/portals */
.bg-dark-25 {
    background-image: url('/assets/art/stochast/image-jj5cnzozc5j1aasrr5iwf8sfs.jpg');
}

.bg-dark-26 {
    background-image: url('/assets/art/stochast/image-u65yjrw2hqp1wrwjwlb9p4d3i.jpg');
}
.bg-dark-27 {
    background-image: url('/assets/art/stochast/image-guzjs8h3e95tgjga2xmkz8swr.jpg');
}
.bg-dark-28 {
    background-image: url('/assets/art/stochast/image-0qvp9do65gnxjnd1966tndc74.jpg');
}
.bg-dark-29 {
    background-image: url('/assets/art/stochast/image-4nxe77jlryt86s2gwcrtrq4s7.jpg');
}

/* crystals in chasm */
.bg-dark-30 {
    background-image: url('/assets/art/stochast/image-a9n0o5dlqlqd4rc8478xwjpgw.jpg');
}
.bg-dark-31 {
    background-image: url('/assets/art/stochast/image-s9haeucixywznzdrpnll0usoy.jpg');
}
.bg-dark-32 {
    background-image: url('/assets/art/stochast/image-df0voxaf6st0rh8uhjqzrakcp.jpg');
}
.bg-dark-33 {
    background-image: url('/assets/art/stochast/image-5je899tihhk2tz10kfuvsrsaa.jpg');
}


/* icy crystals - jagged chasms */
.bg-dark-34 {
    background-image: url('/assets/art/stochast/image-bz4tlm1dgtr6yeo8o0bt9rafo.jpg');
}
.bg-dark-35 {
    background-image: url('/assets/art/stochast/image-doeki8a4cy1n65ul2spvu6s4u.jpg');
}
.bg-dark-36 {
    background-image: url('/assets/art/stochast/image-1oxuqyamn6ai78phmz1je5she.jpg');
}
.bg-dark-37 {
    background-image: url('/assets/art/stochast/image-g3kbilr4jxajspbhx2y1ienhg.jpg');
}

/* barren jagged chasms and canyons in space */

.bg-dark-38 {
    background-image: url('/assets/art/stochast/image-ff2zdw93bls8bhun5752ksm4p.jpg');
}
.bg-dark-39 {
    background-image: url('/assets/art/stochast/image-s3ku9uavbjasuhvnlska1w6a1.jpg');
}
.bg-dark-40 {
    background-image: url('/assets/art/stochast/image-lu1fekpob8xv1o776kghfwaq4.jpg');
}
.bg-dark-41 {
    background-image: url('/assets/art/stochast/image-rj2i3twvfk5z1017aabqpd4ja.jpg');
}
.bg-dark-42 {
    background-image: url('/assets/art/stochast/image-4q4rkz8ugb6rq24uxlhflysls.jpg');
}
.bg-dark-43 {
    background-image: url('/assets/art/stochast/image-cgz3lwrfddhdc7hziyeymduxm.jpg');
}
.bg-dark-44 {
    background-image: url('/assets/art/stochast/image-h33p566qlz4chisc5jtdudkmo.jpg');
}

/* pillar witness space eruptio */
.bg-dark-45 {
    background-image: url('/assets/art/stochast/image-ve675eyt7rgsv5lo24xl57hyk.jpg');
}
.bg-dark-46 {
    background-image: url('/assets/art/stochast/image-vmsihc7bgq23c4gxwz83lc2nn.jpg');
}

/* energy astroids */
.bg-dark-47 {
    background-image: url('/assets/art/stochast/image-elw8a7yne7n8nmf9yvu49kmv1.jpg');
}

/* sound waves forms */
.bg-dark-48 {
    background-image: url('/assets/art/stochast/image-trwi89muff1j4k0fso08tg4sp.jpg');
}

/* pillars */
.bg-dark-49 {
    background-image: url('/assets/art/stochast/image-r2aljv4yp0lrvqhcihs8ui3vv.jpg');
}
.bg-dark-50 {
    background-image: url('/assets/art/stochast/image-t6v4he54c90cu8uonjccs8a8f.jpg');
}
.bg-dark-51 {
    background-image: url('/assets/art/stochast/image-jP1Z1.jpg');
}
.bg-dark-52 {
    background-image: url('/assets/art/stochast/image-x40gN.jpg');
}
.bg-dark-53 {
    background-image: url('/assets/art/stochast/image-txqlyrhb7u6skn1bjp1707s2v.jpg');
}

/* energy wave front in space */
.bg-dark-54 {
    background-image: url('/assets/art/stochast/image-i4u5hxybtk7g0vob36fsviqnn.jpg');
}
